---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Ahmad Riazi, Computer Scientist" />
    <meta property="og:url" content="https://a-riazi.github.io/CS-Portfolio/" />
    <meta property="og:site_name" content="Ahmad Riazi" />
    <meta property="og:title" content="Ahmad Riazi's Portfolio" />
    <meta property="og:image" content="https://a-riazi.github.io/CS-Portfolio/" />
    <script src="https://kit.fontawesome.com/2898a0ac51.js" crossorigin="anonymous"></script>
    <title>Portfolio | Ahmad Riazi</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
